snippet gimage
     {
        "type":"image",
        "url": "${1}",
        "x": ${2:0},
        "y": ${3:0},
        "w": ${4:0},
        "h": ${5:0}
     }${6:,}
     ${0}

snippet glabel
     {
        "type":"label",
        "text":"${1:text}",
        "x": ${2:0},
        "y": ${3:0},
        "size":${4:10}
     }${5:,}
     ${0}


