snippet teste
    isso é um tes

snippet duneguiaction
    GuiAction::handler_string_id => ${1},
    GuiAction::data => ${2},
    GuiAction::caption => ${3:caption},
    GuiAction::params => ${4:null},

snippet dunegeke
    GUI_EVENT_KEY_ENTER => array(
        ${0} 
    )

snippet dunegekpm
    GUI_EVENT_KEY_POPUP_MENU => array(
        ${1}
    )${2}

snippet dunepofai
    GuiAction::handler_string_id => PLUGIN_OPEN_FOLDER_ACTION_ID
